<main xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" layout:fragment="content">
    <table class="table table-hover">
        <thead class="thead-inverse">
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price per unit</th>
            <th>Line price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item, stat : ${cartItems}"
            th:class="${stat.odd}? 'table-light':''">
            <td th:text="${item.product.name}"></td>
            <td th:text="${item.quantity}"></td>
            <td th:text="${item.product.price}"></td>
            <td th:text="${item.product.price * item.quantity}"></td>
        </tr>
        </tbody>
    </table>
    <div>
        <p th:text="@{'Total: ' + ${total}}"></p>
        <div class="panel-body">
            <p>Country: <span th:text="${address.country}"></span></p>
            <p>City: <span th:text="${address.city}"></span></p>
            <p>Line 1: <span th:text="${address.line1}"></span></p>
            <p>Line 2: <span th:text="${address.line2}"></span></p>
            <a class="btn btn-primary" href="#" th:href="@{'/address'}">Change Address</a>
        </div>
        <form th:action="@{'/orders/new'}" method="post">
            <button class="btn btn-lg btn-primary btn-block" th:disabled="${cartItems.isEmpty()}">Order</button>
        </form>
    </div>
</main>
