<main xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      layout:decorate="~{layout.html}" layout:fragment="content">
    <a sec:authorize="hasAuthority('ADMIN')" class="px-1 text-decoration-none" href="#"
       th:href="@{'/products/add'}">
        Add product
    </a>
    <table class="table table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product, stat : ${products}"
            th:class="${stat.odd}? 'table-light':''">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.price}"></td>
            <td>
                <a class="px-1 text-decoration-none" href="#"
                   th:href="@{'/cart/add/' + ${product.id}}">
                    <i class="fa-solid fa-cart-plus"></i>
                </a>
                <a sec:authorize="hasAuthority('ADMIN')" class="px-1 text-decoration-none" href="#"
                   th:href="@{'/products/edit/' + ${product.id}}">
                    <i class="fa-solid fa-pen"></i>
                </a>
                <a sec:authorize="hasAuthority('ADMIN')" class="px-1 text-decoration-none" href="#"
                   th:href="@{'/products/delete/' + ${product.id}}">
                    <i class="fa-solid fa-trash"></i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</main>
