<main xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" layout:fragment="content">
    <div class="container" style="margin-top: 20px">
        <div class="col-md-6 col-md-offset-3">
            <form class="form-signin" method="post" th:action="register" th:object="${user}">
                <h2 class="form-signin-heading">Register</h2>
                <div>
                    <label for="username">Username</label>
                    <input th:field="*{username}" type="text" id="username" name="username" class="form-control"
                           placeholder="Username"
                           required autofocus>
                    <!--                    <p th:each="error : ${#fields.errors('user.email')}"-->
                    <!--                       th:text="${error}">Validation error</p>-->
                </div>
                <div>
                    <label for="password">Password</label>
                    <input th:field="*{password}" type="password" id="password" name="password"
                           class="form-control" placeholder="Password"
                           required>
                    <!--                    <p th:each="error : ${#fields.errors('password')}"-->
                    <!--                       th:text="${error}">Validation error</p>-->
                </div>
                <div>
                    <label for="confirm-password">Confirm Password</label>
                    <input th:field="*{confirmPassword}" type="password" id="confirm-password"
                           name="confirm-password" class="form-control"
                           placeholder="Confirm Password"
                           required>
                    <!--                    <p th:each="error : ${#fields.errors('confirmPassword')}"-->
                    <!--                       th:text="${error}">Validation error</p>-->
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            </form>
        </div>
    </div>
</main>
